In [4]:
import pandas as pd
import helper

In [2]:
scores_df = pd.read_csv('output.csv', header=None, names=['datetime', 'user', 'score'])
scores_df['datetime']=scores_df['datetime'].apply(pd.to_datetime)
scores_df

                        datetime              user score
0     2022-01-09 20:05:02.667549              skip  0:41
1     2022-01-09 20:05:02.667549              beck   NaN
2     2022-01-09 20:05:02.667549            jenliz   NaN
3     2022-01-09 20:05:02.667549             lilli   NaN
4     2022-01-09 20:05:02.667549  marvin.kassabian   NaN
...                          ...               ...   ...
38621 2022-05-07 11:29:56.197510              beck  2:19
38622 2022-05-07 11:29:56.197510            jenliz  2:32
38623 2022-05-07 11:29:56.197510             lilli   NaN
38624 2022-05-07 11:29:56.197510             Scott   NaN
38625 2022-05-07 11:29:56.197510              skip   NaN

[38626 rows x 3 columns]

In [13]:
from calendar import monthrange
from datetime import datetime, timedelta

def get_assigned_date(date: datetime):
    if (date.weekday() <= 4 and date.hour >= 22) or (date.weekday() > 4 and date.hour >= 18):
        return date.date() + timedelta(days=1)
    return date.date()

scores_df['crossword_datetime'] = scores_df['datetime'].apply(lambda row: get_assigned_date(row))

In [14]:
scores_df

                        datetime              user score crossword_datetime
0     2022-01-09 20:05:02.667549              skip  0:41         2022-01-10
1     2022-01-09 20:05:02.667549              beck   NaN         2022-01-10
2     2022-01-09 20:05:02.667549            jenliz   NaN         2022-01-10
3     2022-01-09 20:05:02.667549             lilli   NaN         2022-01-10
4     2022-01-09 20:05:02.667549  marvin.kassabian   NaN         2022-01-10
...                          ...               ...   ...                ...
38621 2022-05-07 11:29:56.197510              beck  2:19         2022-05-07
38622 2022-05-07 11:29:56.197510            jenliz  2:32         2022-05-07
38623 2022-05-07 11:29:56.197510             lilli   NaN         2022-05-07
38624 2022-05-07 11:29:56.197510             Scott   NaN         2022-05-07
38625 2022-05-07 11:29:56.197510              skip   NaN         2022-05-07

[38626 rows x 4 columns]